.banner {
    position: relative;
    display: flex;
    height: 400px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-btn {
    position: absolute;
    top: 65%;
    left: 63%;
}