.promo {
    margin: 3rem 0;
    display: flex;   
    .separator {
        margin-bottom: 2rem;
    }
}

.promo-text-container {
    margin-top: 100px;
    margin-right: 20px;
}

.promo-text {
    margin-bottom: 2rem;
}